.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register,
.login {
  width: 100%;
  margin: 1rem auto;
}

.form-container {
  width: 65%;
  text-align: center;
}

.form-container h1 {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-decoration: underline solid 2px red;
  margin: 1rem 0 2rem 0;
}

.form-group {
  margin-bottom: 2rem;
}

.form-container input:not([type="checkbox"]) {
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem 0.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  transition: border 0.1s ease-in-out;
}

.form-container input:focus {
  border-bottom: 2px solid steelblue;
}

.show-password {
  text-align: left;
  font-size: 16px;
  margin: 10px 10%;
}

.show-password input {
  margin: 0 5px 0 0;
  height: 1rem;
  width: 1rem;
}

.form-container button {
  width: 50%;
  padding: 0.8rem;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  background: #32a2d6;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.form-container button:hover {
  background: #2a93c1;
}

.form-container p span a {
  text-decoration: none;
  color: rgb(38, 145, 217);
}

@media (max-width: 768px) {
  .form-container {
    width: 80vw;
  }
  .form-container h1 {
    font-size: 2.4rem;
  }
  .form-group {
    margin-bottom: 1.2rem;
  }
  .show-password input {
    height: 14px;
    width: 14px;
  }
  .show-password {
    font-size: 14px;
  }
  .form-container button {
    font-size: 1rem;
    padding: 0.6rem 1.4rem;
  }
}

@media (max-width: 550px) {
  .form-container {
    margin: 0;
    width: 90vw;
  }
  .form-container h1 {
    font-size: 40px;
  }
}
