@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-app {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.my-3 {
  margin: 3rem 0;
}
