.blog-item {
  width: 80%;
  margin: 1rem 0;
  padding: 1rem 1.8rem;
  border: 2px solid #333;
  background: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
}

.blog-item-content {
  display: flex;
}

.blog-item-content .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
  font-family: "Montserrat";
  width: 80%;
}

.blog-item-content .info h1 {
  font-size: 1.7rem;
}
.blog-item-content .info h1:hover {
  color: hsl(240, 54%, 60%);
  cursor: pointer;
}

.blog-item .blog-item-content div {
  margin: 5px 0;
}

.blog-item .blog-item-content div .blog-author span {
  text-transform: uppercase;
  background: hsl(120, 50%, 40%);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.blog-item .blog-item-content div .blog-author span:hover {
  background: hsl(120, 50%, 48%);
}

.read-more-btn {
  margin-top: 10px;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background: hsl(0, 0%, 40%);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.read-more-btn:hover {
  background: hsl(0, 0%, 45%);
}

.like_comp {
  display: flex;
  align-items: center;
}

.like-btn {
  background-color: transparent;
  color: #777;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.like-btn i {
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.like-btn i:hover {
  color: hsl(0, 80%, 60%);
}

.filled {
  color: hsl(0, 80%, 60%);
}

.like-cnt {
  font-size: 1.5rem;
}

.blog-item-content .img {
  height: 190px;
  width: 280px;
  background: center center/cover;
  border: 1px grey solid;
  border-radius: 1rem;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 900px) {
  .blog-item-content .info h1 {
    font-size: 1.5rem;
    overflow-wrap: wrap;
  }
  .blog-item-content .img {
    height: 170px;
    width: 240px;
  }
}

@media (max-width: 768px) {
  .blog-item {
    width: 90vw;
  }
  .blog-item-content .info h1 {
    font-size: 1.3rem;
  }
  .blog-item-content .blog-date,
  .blog-author {
    font-size: 0.8rem;
  }
  .blog-item-content .img {
    height: 160px;
    width: 230px;
  }
  .read-more-btn {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  .blog-item-content {
    align-items: center;
    flex-direction: column-reverse;
  }
  .blog-item-content .img {
    height: 170px;
    width: 250px;
  }
  .blog-item-content .info {
    text-align: center;
    align-items: center;
  }
  .blog-item-content .info h1 {
    font-size: 1.3rem;
  }
  .read-more-btn {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .blog-item-content .info {
    width: 100%;
  }
  .blog-item-content .info h1 {
    font-size: 1rem;
  }
}
