* {
  margin: 0px;
  box-sizing: border-box;
}

.create-blog {
  margin: 3rem auto;
  padding: 1rem;
}

.create-blog-header {
  margin: 0 auto 1rem auto;
  width: 80%;
}

.create-blog-header span {
  margin-top: 1rem;
  text-align: center;
  padding: auto;
  display: block;
  position: relative;
}

.create-blog-header img {
  height: 40%;
  width: 100%;
}

.title {
  display: block;
  width: 100%;
  margin: 2rem auto;
  height: 3.6rem;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 80%);
  outline: none;
  font-size: 2.4rem;
  font-family: "Montserrat", "fira-mond";
}

.title:focus {
  border-color: hsl(207, 44%, 59%);
}

.title::placeholder {
  color: #999;
}

.create-blog-header .button {
  display: block;
  margin: auto;
  width: 100%;
  height: 5rem;
  outline: none;
  border: none;
  background: hsl(0, 0%, 60%);
  color: #fff;
  cursor: pointer;
  font-size: 4rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
}

.create-blog-header .button:hover {
  background: hsl(0, 0%, 50%);
}

.image img {
  display: block;
  margin: auto;
  height: 60%;
  width: 40%;
}

.editor-wrapper {
  margin: auto;
  width: 80%;
  border: 1px solid black;
  background: #fff;
  padding: 1rem;
}

.editor-container {
  width: 100%;
  border: 1px solid rgb(205, 233, 205);
  padding: 1rem;
}

.toolbar-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr 1fr;
}

.toolbar-grid button {
  margin-right: 8px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
}

.superFancyBlockquote {
  color: #999;
  background: #fff;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  border-left: 2px solid #999;
  padding-left: 10px;
}

.codeBlock {
  font-family: fira-code, monospace;
  font-size: inherit;
  background: #ffeff0;
  font-style: italic;
  word-wrap: normal;
  word-wrap: break-word;
  box-decoration-break: slice;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
}

.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: right;
}
.centerAlign {
  text-align: center;
}
.justifyAlign {
  text-align: justify;
}

.save-btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 30%;
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  /* background: hsl(0, 0%, 0%, 0.8); */
  background: darkgray;
  font-size: 1.4rem;
  font-family: "Montserrat", "fira-mond";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn:hover {
  background: grey;
  transform: translateY(-5px);
}
