* {
  margin: 0;
  box-sizing: border-box;
}

.create-blog,
.edit-blog {
  margin: 3rem auto;
  padding: 1rem;
}

.create-blog-header,
.edit-blog-header {
  margin: 0 auto 1rem auto;
  width: 75%;
}

.create-blog-header span,
.edit-blog-header span {
  margin-top: 1rem;
}

.create-blog-header .img,
.edit-blog-header .img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.create-blog-header .img img,
.edit-blog-header .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem #4444dd);
}

.title {
  display: block;
  width: 100%;
  margin: 2rem auto;
  height: 3.6rem;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 80%);
  outline: none;
  font-size: 2.8rem;
  font-family: "Montserrat", "fira-mond";
  letter-spacing: 1px;
}

.title:focus {
  border-color: hsl(207, 44%, 59%);
}

.title::placeholder {
  color: #999;
  letter-spacing: 0.4rem;
}

.create-blog-header .button,
.edit-blog-header .button {
  display: block;
  margin: auto;
  width: 100%;
  height: 5rem;
  outline: none;
  border: none;
  background: hsl(0, 0%, 70%);
  color: #fff;
  cursor: pointer;
  font-size: 4rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
}

.create-blog-header .button:hover,
.edit-blog-header .button:hover {
  background: hsl(0, 0%, 50%);
}

.editor-wrapper {
  margin: auto;
  width: 75%;
  background: #fff;
  padding: 1rem 0;
}

.editor-container {
  width: 100%;
  font-family: "charter", "Georgia", "Cambria", "Times New Roman", "Times",
    "serif";
  font-size: 18px !important;
  border: 1px solid rgb(205, 233, 205);
  line-height: 1.8;
  padding: 1rem;
  border: 1px solid black;
  background: hsl(0, 0%, 96%);
}

.toolbar-grid {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 4px 3px hsl(198, 12%, 26%), 0 0 2px 2px hsl(198, 12%, 26%);
}

.toolbar-grid button {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.7rem;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
}

.superFancyBlockquote {
  color: #999;
  background: #fff;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  border-left: 2px solid #999;
  padding-left: 10px;
}

.codeBlock {
  font-family: fira-code, monospace;
  font-size: inherit;
  background: #ffeff0;
  font-style: italic;
  word-wrap: normal;
  word-wrap: break-word;
  box-decoration-break: slice;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
}

.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: right;
}
.centerAlign {
  text-align: center;
}
.justifyAlign {
  text-align: justify;
}

.save-btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  background: darkgray;
  font-size: 1.4rem;
  font-family: "Montserrat", "fira-mond";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn:hover {
  background: grey;
  transform: translateY(-5px);
}

@media (max-width: 900px) {
  .create-blog,
  .edit-blog {
    width: 100vw;
  }
  .create-blog-header,
  .edit-blog-header {
    width: 90vw;
  }
  .editor-wrapper {
    width: 90vw;
  }
  .create-blog-header .button,
  .edit-blog-header .button {
    font-size: 3.6rem;
  }
  .title {
    font-size: 2.7rem;
    margin: 1.5rem auto;
  }
  .title::placeholder {
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 768px) {
  .create-blog-header .button,
  .edit-blog-header .button {
    font-size: 3.4rem;
  }
  .title {
    font-size: 2.6rem;
  }
  .title::placeholder {
    letter-spacing: 0.2rem;
  }
  .toolbar-grid {
    padding: 0.5rem;
  }
  .toolbar-grid button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
  .save-btn {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .create-blog-header,
  .edit-blog-header {
    width: 100%;
  }
  .editor-wrapper {
    width: 100%;
  }
  .editor-container {
    line-height: 1.6;
    font-size: 16px !important;
  }
  .create-blog-header .button,
  .edit-blog-header .button {
    font-size: 3.2rem;
  }
  .title {
    font-size: 2.3rem;
  }
  .title::placeholder {
    letter-spacing: 0.1rem;
  }
  .toolbar-grid {
    padding: 0.4rem;
  }
  .toolbar-grid button {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .save-btn {
    font-size: 1.2rem;
    padding: 0.9rem;
    letter-spacing: 1.1px;
  }
}
