#main-footer {
  margin-top: auto;
  background: #333;
  color: #fff;
  height: 2.8rem;
  padding: 2.2rem 10rem;
}

a {
  color: #fff;
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#main-footer .footer-content .social .fab {
  font-size: 25px;
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  width: 45px;
  line-height: 30px;
  text-align: center;
  padding: 0.3rem;
  transition: all 0.2s ease-in-out;
}

#main-footer .footer-content .social .fa-github:hover {
  background: #fff;
  color: #333;
  border-color: steelblue;
}

#main-footer .footer-content .social .fa-linkedin:hover {
  background: #fff;
  color: #0072b1;
  border-color: steelblue;
}
