.navbar {
  background: hsl(259, 6%, 39%);
  color: #fff;
  padding: 0.5rem 0;
  /* height: 70px; */
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 40px;
  height: 100%;
}

.navbar ul {
  list-style: none;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-content .links {
  display: flex;
}

.navbar-content .links li {
  padding: 1rem 1.5rem;
}

.navbar-content .links a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.temp-style {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar-content .links a:hover {
  border-color: #ccc;
}

@media (max-width: 650px) {
  .navbar-content {
    flex-direction: column;
  }
}
